# datasets
old_version/datasets
*.pkl
*.npy

# ide
/.idea

# pycmache
*.pyc

# results
config.json
test-*.txt

# model
*.pt
*.bin
*.pth

# Mac
.DS_Store

# KorLex
old_version/Utils/KorLex_api

# new ner model
/corpus
/ckpt-*
/logs


# Data Check
data_check/model
data_check/train_model

# Case / Error Check
error_check/extract_data
error_check/dic_err_results
error_check/dir_err_results_by_ne
error_check/josa_dict_err_results
error_check/josa_dict_err_results_by_ne
utils/mecab_cmp
utils/kiwi_cmp
pattern_check/results

